services:
  bolt-nbility-core:
    build:
      context: ./bolt.diy
      dockerfile: Dockerfile
      target: bolt-ai-production
    container_name: bolt-nbility-core
    restart: always
    environment:
      - NODE_ENV=production
    volumes:
      - bolt-nbility-data:/app/data
    expose:
      - "5173"
    networks:
      - bolt-network-app

  bolt-nbility-nginx:
    image: nginx:stable-alpine
    container_name: bolt-nbility-nginx
    restart: always
    depends_on:
      - bolt-nbility-core
    volumes:
      - ./DATA-LOCAL/nginx/nginx-bolt.conf:/etc/nginx/nginx.conf:ro
      - ./DATA-LOCAL/nginx/html/login.html:/usr/share/nginx/html/index.html:ro
      - ${HTPASSWD_FILE}:/etc/nginx/.htpasswd:ro
    ports:
      - "${HOST_PORT_BOLT}:80"
    networks:
      - bolt-network-app

  bolt-nbility-home:
    image: nginx:stable-alpine
    container_name: bolt-nbility-home
    restart: always
    volumes:
      - ./DATA-LOCAL/nginx/nginx-home.conf:/etc/nginx/nginx.conf:ro
      - ./DATA-LOCAL/nginx/html/index.html:/usr/share/nginx/html/index.html:ro
      - ./DATA-LOCAL/nginx/html/css:/usr/share/nginx/html/css:ro
      - ./DATA-LOCAL/nginx/html/js:/usr/share/nginx/html/js:ro
      - ./DATA-LOCAL/nginx/html/images:/usr/share/nginx/html/images:ro
      - ./DATA-LOCAL/nginx/html/fonts:/usr/share/nginx/html/fonts:ro
    ports:
      - "${HOST_PORT_HOME}:80"
    networks:
      - bolt-network-app

  bolt-user-manager:
    image: bolt-user-manager:latest
    container_name: bolt-user-manager
    restart: always
    user: "root"
    volumes:
      - ./DATA-LOCAL/user-manager/app:/var/www/html
      - ${HTPASSWD_FILE}:/app/.htpasswd:rw
    environment:
      HTPASSWD_FILE: /app/.htpasswd
    ports:
      - "${HOST_PORT_UM}:80"
    networks:
      - bolt-network-app

networks:
  bolt-network-app:
    external: true
    
volumes:
  bolt-nbility-data:
    external: true
